.value {
  margin-bottom: 0.5em;
}

div {
    width: 4in;
    text-align:center;
}

legend {
    font-family: 'Belanosima', sans-serif;
    font-size: 22px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    height: 150px;
    width: 410px;
}

input {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    height: 25px;
}
button {
    height: 25px;
}

li{
  text-align: left;
  margin: 0, 0, 0, 0;
  margin-left: -1.25em;
}
p{
    text-align: left;
    margin: 0, 0, 0, 0;
    margin-left: -3em;
}

.button{
    display: inline-block;
    background: #000;
    border-radius: 4px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
    color: #FFF;
    padding: 8px 12px;
    cursor: pointer;   
    margin: 10px 2px 2px 2px;
}
h3{
    text-align: center;
    margin-left: -3em;
}
